In [14]:
import pandas as pd
import string
import re

canada_edu = pd.read_csv('Canada_Education.csv')
canada_edu.isnull()

    Author   Date   Text  Location  Place
0    False  False  False     False   True
1    False  False  False      True   True
2    False  False  False     False   True
3    False  False  False     False   True
4    False  False  False     False   True
5    False  False  False      True   True
6    False  False  False      True   True
7    False  False  False     False   True
8    False  False  False      True   True
9    False  False  False     False   True
10   False  False  False     False   True
11   False  False  False     False   True
12   False  False  False     False   True
13   False  False  False     False   True
14   False  False  False     False   True
15   False  False  False      True   True
16   False  False  False     False   True
17   False  False  False     False   True
18   False  False  False     False   True
19   False  False  False      True   True
20   False  False  False     False   True
21   False  False  False      True   True
22   False  False  False     False   True

In [15]:
canada_edu = canada_edu.drop('Place', axis=1)

In [16]:
canada_edu.isnull()

    Author   Date   Text  Location
0    False  False  False     False
1    False  False  False      True
2    False  False  False     False
3    False  False  False     False
4    False  False  False     False
5    False  False  False      True
6    False  False  False      True
7    False  False  False     False
8    False  False  False      True
9    False  False  False     False
10   False  False  False     False
11   False  False  False     False
12   False  False  False     False
13   False  False  False     False
14   False  False  False     False
15   False  False  False      True
16   False  False  False     False
17   False  False  False     False
18   False  False  False     False
19   False  False  False      True
20   False  False  False     False
21   False  False  False      True
22   False  False  False     False

In [17]:
canada_edu = canada_edu.fillna("NaN")

In [18]:
canada_edu.isnull()

    Author   Date   Text  Location
0    False  False  False     False
1    False  False  False     False
2    False  False  False     False
3    False  False  False     False
4    False  False  False     False
5    False  False  False     False
6    False  False  False     False
7    False  False  False     False
8    False  False  False     False
9    False  False  False     False
10   False  False  False     False
11   False  False  False     False
12   False  False  False     False
13   False  False  False     False
14   False  False  False     False
15   False  False  False     False
16   False  False  False     False
17   False  False  False     False
18   False  False  False     False
19   False  False  False     False
20   False  False  False     False
21   False  False  False     False
22   False  False  False     False

In [19]:
canada_edu.head(20)

,Author,Date,Text,Location
0,MAYussuf1,2019-11-04 04:02:53,@UNDPBiH \nI MOHAMED YUSSUF IS WELL EDUCATED P...,"Toronto, Ontario"
1,lodinw,2019-11-04 04:08:54,RT @TorontoStar: Her father was killed by the ...,NaN
2,spashtwakta,2019-11-04 04:11:06,RT @TarekFatah: Are you serious? The Muslim Br...,India
3,fgafatg,2019-11-04 04:13:39,RT @theworldindex: The top 10 countries for fu...,"Barcelona, Països Catalans"
4,SandipTarkas,2019-11-04 04:19:40,RT @TarekFatah: Are you serious? The Muslim Br...,Mumbai
5,SKH245,2019-11-04 04:22:23,RT @educationgadfly: How do we best help stude...,NaN
6,atulbhardwaj,2019-11-04 04:24:49,RT @hari2411: Dear @SenatorDurbin Do you read ...,NaN
7,DVSMorpheus,2019-11-04 04:25:53,RT @jim_duffus: @MitchWheeler19 @TorontoStar T...,"Alberta, Canada"
8,NadiaBrandon11,2019-11-04 04:28:17,RT @mmccdenier: Scheer's description of his pa...,NaN
9,kahnkidz,2019-11-04 04:29:12,💯 not accurate. Ontario students are 2 or more...,"Guelph, Ontario"
10,mgci_cws,2019-11-04 04:29:34,"RT @dbudlovsky: November, is Indigenous Educat...","Toronto, Ontario"
11,SurnigantiArun,2019-11-04 04:33:55,RT @TarekFatah: Are you serious? The Muslim Br...,"New Delhi, Delhi"
12,DrClarkIPresume,2019-11-04 04:38:15,RT @TorontoStar: Her father was killed by the ...,"Halifax, NS"
13,linamapulidof,2019-11-04 04:39:03,RT @theworldindex: The top 10 countries for fu...,"British Columbia, Canada"
14,wendelldryden,2019-11-04 04:40:51,RT @ed_inclusive: Australia is generations beh...,"Saint John, NB."
15,shummiejay,2019-11-04 04:45:04,RT @TorontoStar: Her father was killed by the ...,NaN
16,killa_cam214,2019-11-04 04:50:32,RT @MaxBlumenthal: Sanders also called Hugo Ch...,"Hollywood, Los Angeles"
17,MikeyTara,2019-11-04 04:50:43,RT @mmccdenier: Scheer's description of his pa...,"British Columbia, Canada"
18,SuptSumners,2019-11-04 04:52:30,"RT @Anniekidder: ""Education is the key to reco...",work
19,PositivelyIndi1,2019-11-04 04:53:28,RT @BJGrant: AMEN https://t.co/2lpVjFiZEf,NaN

In [20]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

canada_edu['Text'] = canada_edu['Text'].apply(lambda x: remove_punct(x))
canada_edu['Author'] = canada_edu['Author'].apply(lambda x: remove_punct(x))
canada_edu['Location'] = canada_edu['Location'].apply(lambda x: remove_punct(x))
#university['Date'] = university['Date'].apply(lambda x: remove_punct(x))
canada_edu.head(20)

,Author,Date,Text,Location
0,MAYussuf,2019-11-04 04:02:53,UNDPBiH \nI MOHAMED YUSSUF IS WELL EDUCATED PE...,Toronto Ontario
1,lodinw,2019-11-04 04:08:54,RT TorontoStar Her father was killed by the Ta...,NaN
2,spashtwakta,2019-11-04 04:11:06,RT TarekFatah Are you serious The Muslim Broth...,India
3,fgafatg,2019-11-04 04:13:39,RT theworldindex The top countries for future...,Barcelona Països Catalans
4,SandipTarkas,2019-11-04 04:19:40,RT TarekFatah Are you serious The Muslim Broth...,Mumbai
5,SKH,2019-11-04 04:22:23,RT educationgadfly How do we best help student...,NaN
6,atulbhardwaj,2019-11-04 04:24:49,RT hari Dear SenatorDurbin Do you read your ow...,NaN
7,DVSMorpheus,2019-11-04 04:25:53,RT jimduffus MitchWheeler TorontoStar This iss...,Alberta Canada
8,NadiaBrandon,2019-11-04 04:28:17,RT mmccdenier Scheers description of his past ...,NaN
9,kahnkidz,2019-11-04 04:29:12,💯 not accurate Ontario students are or more y...,Guelph Ontario
10,mgcicws,2019-11-04 04:29:34,RT dbudlovsky November is Indigenous Education...,Toronto Ontario
11,SurnigantiArun,2019-11-04 04:33:55,RT TarekFatah Are you serious The Muslim Broth...,New Delhi Delhi
12,DrClarkIPresume,2019-11-04 04:38:15,RT TorontoStar Her father was killed by the Ta...,Halifax NS
13,linamapulidof,2019-11-04 04:39:03,RT theworldindex The top countries for future...,British Columbia Canada
14,wendelldryden,2019-11-04 04:40:51,RT edinclusive Australia is generations behind...,Saint John NB
15,shummiejay,2019-11-04 04:45:04,RT TorontoStar Her father was killed by the Ta...,NaN
16,killacam,2019-11-04 04:50:32,RT MaxBlumenthal Sanders also called Hugo Chav...,Hollywood Los Angeles
17,MikeyTara,2019-11-04 04:50:43,RT mmccdenier Scheers description of his past ...,British Columbia Canada
18,SuptSumners,2019-11-04 04:52:30,RT Anniekidder Education is the key to reconci...,work
19,PositivelyIndi,2019-11-04 04:53:28,RT BJGrant AMEN httpstcolpVjFiZEf,NaN

In [10]:
canada_edu['Text'] = canada_edu['Text'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)
canada_edu['Location'] = canada_edu['Location'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)

In [11]:
canada_edu.head(30)

,Author,Date,Text,Location
0,MAYussuf,2019-11-04 04:02:53,UNDPBiH \nI MOHAMED YUSSUF IS WELL EDUCATED PE...,Toronto Ontario
1,lodinw,2019-11-04 04:08:54,RT TorontoStar Her father was killed by the Ta...,NaN
2,spashtwakta,2019-11-04 04:11:06,RT TarekFatah Are you serious The Muslim Broth...,India
3,fgafatg,2019-11-04 04:13:39,RT theworldindex The top countries for future...,Barcelona Països Catalans
4,SandipTarkas,2019-11-04 04:19:40,RT TarekFatah Are you serious The Muslim Broth...,Mumbai
5,SKH,2019-11-04 04:22:23,RT educationgadfly How do we best help student...,NaN
6,atulbhardwaj,2019-11-04 04:24:49,RT hari Dear SenatorDurbin Do you read your ow...,NaN
7,DVSMorpheus,2019-11-04 04:25:53,RT jimduffus MitchWheeler TorontoStar This iss...,Alberta Canada
8,NadiaBrandon,2019-11-04 04:28:17,RT mmccdenier Scheers description of his past ...,NaN
9,kahnkidz,2019-11-04 04:29:12,not accurate Ontario students are or more ye...,Guelph Ontario
10,mgcicws,2019-11-04 04:29:34,RT dbudlovsky November is Indigenous Education...,Toronto Ontario
11,SurnigantiArun,2019-11-04 04:33:55,RT TarekFatah Are you serious The Muslim Broth...,New Delhi Delhi
12,DrClarkIPresume,2019-11-04 04:38:15,RT TorontoStar Her father was killed by the Ta...,Halifax NS
13,linamapulidof,2019-11-04 04:39:03,RT theworldindex The top countries for future...,British Columbia Canada
14,wendelldryden,2019-11-04 04:40:51,RT edinclusive Australia is generations behind...,Saint John NB
15,shummiejay,2019-11-04 04:45:04,RT TorontoStar Her father was killed by the Ta...,NaN
16,killacam,2019-11-04 04:50:32,RT MaxBlumenthal Sanders also called Hugo Chav...,Hollywood Los Angeles
17,MikeyTara,2019-11-04 04:50:43,RT mmccdenier Scheers description of his past ...,British Columbia Canada
18,SuptSumners,2019-11-04 04:52:30,RT Anniekidder Education is the key to reconci...,work
19,PositivelyIndi,2019-11-04 04:53:28,RT BJGrant AMEN httpstcolpVjFiZEf,NaN
20,sofiaxzaldivar,2019-11-04 04:54:07,RT MaxBlumenthal Sanders also called Hugo Chav...,Manhattan NY
21,joseph,2019-11-04 04:55:41,RT DashLalonde Due to the policies of our Pedo...,NaN
22,mkhewadiya,2019-11-04 04:57:24,RT theworldindex The top countries for future...,Sarsawan India

In [13]:
canada_edu.to_csv('Cleaned_Canada_Education_twitter.csv')