In [1]:
import pandas as pd
import string
import re

dalU = pd.read_csv('Dalhousie_University.csv')
dalU.isnull()

   Author   Date   Text  Location  Place
0   False  False  False     False   True
1   False  False  False     False   True

In [2]:
dalU = dalU.drop('Place', axis=1)

In [3]:
dalU.isnull()

   Author   Date   Text  Location
0   False  False  False     False
1   False  False  False     False

In [4]:
dalU = dalU.fillna("NaN")

In [5]:
dalU.isnull()

   Author   Date   Text  Location
0   False  False  False     False
1   False  False  False     False

In [6]:
dalU.head(20)

,Author,Date,Text,Location
0,padina_,2019-11-05 06:59:45,RT @tonyrwalker1: Scholarship opportunities fo...,"Cadiz, Spain"
1,padina_,2019-11-05 06:59:45,RT @tonyrwalker1: Scholarship opportunities fo...,"Cadiz, Spain"

In [7]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

dalU['Text'] = dalU['Text'].apply(lambda x: remove_punct(x))
dalU['Author'] = dalU['Author'].apply(lambda x: remove_punct(x))
dalU['Location'] = dalU['Location'].apply(lambda x: remove_punct(x))
#university['Date'] = university['Date'].apply(lambda x: remove_punct(x))
dalU.head(20)

,Author,Date,Text,Location
0,padina,2019-11-05 06:59:45,RT tonyrwalker Scholarship opportunities for M...,Cadiz Spain
1,padina,2019-11-05 06:59:45,RT tonyrwalker Scholarship opportunities for M...,Cadiz Spain

In [ ]:
dalU['Text'] = dalU['Text'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)
dalU['Location'] = dalU['Location'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)

In [ ]:
dalU.head(30)

In [ ]:
dalU.to_csv('Cleaned_Dalhousie_University_twitter.csv')